@import url(//db.onlinewebfonts.com/c/b272450a19485b6e0cefb63200382c4a?family=Caviar+Dreams);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  transition: 0.3s;
  font-family: "Caviar Dreams";
  background-color: #008C8C;
  min-height: 100vh;
  max-height: 100vh;
}

.wrapper {
  max-width: 100%;
  width: 100%;
  padding: 0px 70px;
  margin: 0px auto;
}

.quote__content {
  padding: 40px 100px;
  margin-top: 100px;
  border-radius: 5px;
  text-align: center;
}

.quote__content p {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #009FFF, 0 0 30px #009FFF, 0 0 40px #009FFF, 0 0 55px #009FFF, 0 0 75px #009FFF, 2px 2px 17px rgba(70, 0, 255, 0);
}

.quote__content h3 {
  margin-top: 50px;
  font-style: italic;
}

.quote__btn {
  display: flex;
}

.quote__btn button {
  padding: 22px 45px;
  background-color: rgba(0, 212, 255, 1);
  border-radius: 15px;
  color: #fff;
  border: 0px none;
  cursor: pointer;
  margin: 40px auto;
  font-size: 20px;
  font-weight: 600;
}

.quote__btn button:hover {
  opacity: 0.7;
}

.quote__btn button:active {
  opacity: 0.5;
}

.wrapper .logo {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    padding: 0px 20px;
  }

  .quote__content {
    padding: 100px 20px;
  }

  .quote__content p {
    font-size: 24px;
    text-align: center;
  }

  .qoute__btn button {
    font-size: 12px;
  }
}
